*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #111;
}

ul{
	list-style-type: none;
}

body{
	background: #dfdfdf;
}

.self{
	width: 100%;
	height: 120px;
	background-color: #efeeee;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	float: left;
	margin-bottom: 10px;
}

.self .img{
	width: 80px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

}

.self .img .self{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	display: flex;
}

.self .img .xx{
	width: 15px;
	height: 15px;
	display: flex;
}

.self .container{
	width: 90%;
	height: 120px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.container .box{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 80px;
	height: 100px;
	margin: 10px;
}

.container .box .content{
	width: 80px;
	height: 80px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
	-10px -10px 20px rgba(250, 250, 250, 1.0);
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #efeeee;
	transition: box-shadow 0.2s ease-in-out;
	transition: width 1s;
}

.container .box p{
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: slategray;
}

.content img{
	width: 50px;
	height: 50px;
}

.container .box .content:hover{
	box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.1),
	10px 10px 20px rgba(250, 250, 250, 1.0);
	transition: box-shadow 0.2s ease-out;
	width: 150px;
	transition: width 1.2s;
}

.container .box .content:hover img{
	width: 40px;
	height: 40px;
	transition: width 0.2s ease-out;
}

.container .box .qq:hover::after{
	content: '1633198089';
	color: slategray;
	font-size: 12px;
	width: 100px;
	overflow: hidden;
	padding-left: 15px;
}

.container .box .wx:hover::after{
	content: 'yk18702784250';
	width: 100px;
	color: slategray;
	font-size: 12px;
	overflow: hidden;
	padding-left: 5px;
}

.container .box .csdn:hover::after{
	content: 'qq_45826452';
	font-size: 12px;
	color: slategray;
	width: 100px;
	overflow: hidden;
	padding-left: 10px;
}

.container .box .gzh:hover::after{
	content: 'cifan-yk';
	font-size: 12px;
	width: 100px;
	overflow: hidden;
	color: slategray;
	padding-left: 20px;
}



/* daohang */
.daohang{
	width: 170px;
	height: 520px;
	margin-left: 30px;
	border-radius: 3px;
	background-color: #e1e1e1;
	display: flex;
	float: left;
	padding-top: 5px;
	overflow: hidden;
}

.daohang .item{
	height: 50px;
	width: 170px;
	text-align: center;
	line-height: 50px;
	margin-top: 5px;
	background-color: #efefef;
}

.daohang .item a{
	display: flex;
	justify-content: center;
	width: 170px;
	height: 50px;
	color: #fff;
	font-weight: 600
}

.daohang .item:hover .python{
	background-color: #74b9ff;
	color: #ffeaa7;
}
.daohang .item:hover .pygame{
	background-color: #F8EFBA;
	color: #F97F51;
}
.daohang .item:hover .htmlcss{
	background-color: #fa8231;
	color: #0fb9b1;
}
.daohang .item:hover .js{
	background-color: #0fb9b1;
	color: #2d98da;
}

/* tar */
.tar{
	width: 850px;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	float: left;
	margin-left: 70px;
	
}

.tar .link{
	width: 820px;
	height: 120px;
	background-color: #eeee;
	margin-top: 2px;
	padding-left: 30px;
}
.tar .link:hover{
	background-color: #fff;
}
.tar .link h3{
	width: 750px;
	height: 80px;
	line-height: 80px;
	overflow: hidden;
}
.tar .link p{
	width: 750px;
	height: 40px;
	line-height: 20px;
	font-size: 12px;
}

#python:target,
#pygame:target,
#htmlcss:target,
#js:target{
	height: auto;
	margin-top: 5px;
}


.back{
	position: fixed;
	bottom: 100px;
	right: 50px;
	width: 50px;
	height: 50px;
	line-height: 25px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	background-color: #999;
}
.back:hover{
	background-color: #f50;
}